.App {
  text-align: center;
  margin-top: 15rem;
}

p {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 50px;
}

.p1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 80px;
  background-color: aquamarine;
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.signIn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: skyblue;
  border-radius: 50vh;
}
